html {
  background-color: #282c34;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*** Header ***/

header {
  padding: 0.5rem;
  border-bottom: 1px solid hsl(180, 85%, 45%);
  background-color: #141414;
}

h1 {
  font-size: 3.5rem;
  color: rgb(210, 209, 209);
}

h1 span {
  color: hsl(180, 85%, 45%);
}

/*** SearchBar Component ***/

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background-color: rgb(203, 203, 203);
  width: 60%;
  border-radius: 1.5rem;
}

#search-bar label,
#search-bar input {
  font-size: 2rem;
  padding: 1rem 1.5rem;
}

#search-bar label {
  border-right: 1px solid grey;
}

#search-bar input {
  margin-right: auto;
  /* Temporary solution. Trying to figure out how to make the width automatically adjust to the container width. */
}