html {
  background-color: #282c34;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

/*** Header ***/

header {
  padding: 0.5rem;
  border-bottom: 1px solid hsl(180, 85%, 45%);
  background-color: #141414;
}

h1 {
  font-size: 3.5rem;
  color: rgb(210, 209, 209);
}

h1 span {
  color: hsl(180, 85%, 45%);
}

/*** Searchbar and Login ***/

/* SearchBar Component */

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 203, 203);
  margin: 40px auto;
  width: 45%;
  border-radius: 1.5rem;
}

#search-bar label,
#search-bar input {
  font-size: 2rem;
  padding: 1rem 1.5rem;
}

#search-bar label {
  border-right: 1px solid grey;
}

#search-bar input {
  margin-right: auto;
  /* Temporary solution. Trying to figure out how to make the width automatically adjust to the container width. */
}

#search-bar button { /* Search button. */
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(180, 85%, 45%);
  border: 4px solid hsl(180, 85%, 20%);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

#search-bar button:active {
  background-color: hsl(180, 85%, 20%);
  transition: background-color 0s;
}

/* LoginIndicator Component */

#login-indicator {
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: black;
  border: 2px grey solid;
  border-radius: 5px;
  padding: 1rem;
}

#login-indicator img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: green 2px solid;
  box-shadow: 0 0 25px green;
}

#login-indicator p {
  color: grey;
  font-size: 0.75rem;
}

#login-indicator h2 {
  color: white;
  margin-top: 0.25rem;
  font-size: 1.5rem;
}

/*** LoginPage Component ***/

#login-page {
  height: 100vh;
  width: 100%;
  justify-content: center;
}

#login-page div {
  width: 50%;
  background-color: #141414;
  border: 2px solid grey;
  border-radius: 2rem;
  color: white;
}

#login-page header {
  background-color: transparent;
}

#login-page p {
  font-size: 1.25rem;
}

#login-page main {
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
}

#login-page button {
  background-color: hsl(120, 100%, 25%);
  font-size: 1.5rem;
  padding: .5rem 2rem;
  border-radius: 1.75rem;
  color: white;
}

#login-page button:hover {
  background-color: hsl(120, 100%, 20%);
}

#login-page img {
  width: 50px;
  height: 50px;
  background-color: white;
}

/*** SearchResults and Playlist Components ***/

#search-results-and-playlist {
  justify-content: center;
}

.tracks-container {
  background-color: rgba(6, 0, 38, 0.682);
  border: 1px solid hsl(180, 85%, 45%);
  border-radius: 10px;
  width: 30%;
  height: 60vh;
  margin: 0 5%;
}

.tracks-container-header {
  border-bottom: 1px solid hsl(180, 85%, 45%);
  padding: 0.5rem;
}

.tracks-container-header p {
  color: grey;
  font-size: 1rem;
}

/* SearchResults Component */

.tracks-container-header span {
  /* Indicating what is currently being searched. */
  color: white;
}

/* Playlist Component */

.tracks-container-header input {
  background-color: rgba(40, 40, 40, 0.30);
  border-bottom: 1px solid grey;
  margin: 0.5rem 10%;
  width: 80%;
  color: white;
  font-size: 2rem;
}

#save-to-spotify {
  display: flex;
  justify-content: center;
}

#save-to-spotify button {
  /* "Save to Spotify" button. */
  margin: 1rem 0;
  /* margin: 0 auto; For some reason this isn't working. That's why the button is in a centering container. */
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: hsl(180, 85%, 45%);
}

#save-to-spotify button:hover {
  background-color: hsl(180, 85%, 40%);
}

#save-to-spotify button:active {
  background-color: hsl(180, 85%, 20%);
  color: white;
}

/* Track Component */

.track {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.track img {
  width: 75px;
  flex-shrink: 0;
  height: 75px;
}

.track-info-text {
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
}

h3 {
  color: white;
  font-size: 1.25rem;
}

h4 {
  font-size: 0.75rem;
  color: grey;
  line-height: 1.6;
}

.track button {
  border: 1px grey solid;
  border-radius: 50%;
  height: 50px;
  flex-shrink: 0;
  width: 50px;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.track button:hover {
  background-color: rgb(69, 69, 69);
}

/*** Testing ***/
.test-button {
  position: absolute;
  margin: 26px;
  height: 120px;
  width: 120px;
  border: grey 2px solid;
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  box-shadow: rgb(10, 0, 144) 0 0 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.5s;
  /* display: none; */
}

.test-button:active {
  background-color: grey;
  transition: background-color 0s;
}