/* Adapted from http://meyerweb.com/eric/tools/css/reset/
   Last update: | 20240814
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: transparent;
}

a, button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.centered-text {
  text-align: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto; /* Scale height proportionately with width. Use width: auto to instead scale width proportionately with height. */
}